<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Portfolio</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom Fonts -->
    <link href="{% static 'portfolio/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static 'portfolio/css/magnific-popup.css'%} " rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{% static 'portfolio/css/creative.min.css'%}" rel="stylesheet">
    <link href="{% static 'portfolio/css/base.css'%}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-shrink">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button> -->
                <a class="navbar-brand page-scroll" href="{% url 'index' %}">Portfolio</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



        {% block main %}
        {% endblock %}



    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action row">
                <h4>Let's Get In Touch!</h4>
                <div class="col-lg-4 col-md-5 col-sm-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 text-left">
                    <i class="fa fa-phone fa-3x sr-contact"></i>
                    <p>123-456-6789</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-5 text-right">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a></p>
                    <div class="form-group">
                        <form action="{% url 'feed' %}" method="POST" onsubmit="return check_the_box()">
                            {% csrf_token %}
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            <input name="email" type="text" required placeholder="Your Email"  class="form-control" aria-describedby="emailHelp"><br>
                            <input name="firstName" type="text" required placeholder="Your Name" class="form-control" aria-describedby="emailHelp"><br>
                           <!-- 
                                <p>
                                <a href="#">I've read and agree to the Terms of Service </a>
                                <input id="chx" type="checkbox">
                                </p>
                            --> 
                            <button type="submit" class="btn btn-danger">Newsletter Signup</button>
                            <p>
                                <span style="display: none" id="pls"> Please review and tick the Terms of Service box</span>
                            </p>    
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </aside>


    <!-- jQuery -->
    <script src="{% static 'portfolio/js/jquery.min.js' %}"></script>

    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'portfolio/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static 'portfolio/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'portfolio/js/jquery.magnific-popup.min.js' %}"></script>

    <!-- Theme JavaScript -->
    <script src="{% static 'portfolio/js/creative.min.js' %}"></script>
    <script type="text/javascript">  
    var box = document.getElementById("chx");
    var alrt = document.getElementById("pls");
    function check_the_box(){  
        if(!box.checked) {
            alrt.setAttribute("style","display: inline");
                return false
    }
    else {  
        return true
    }
    }
    </script>  


</body>

</html>
